div ::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

input::-webkit-input-placeholder {
	color: #ccc;
}

textarea::-webkit-input-placeholder {
	color: #ccc;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	background: transparent;
}

.fa {
	font-size: 20px;
	color: #FDB92C;
}

.fa-angle-left,.fa-ellipsis-v {
	display: inline-block;
	width: 100%;
	height: 46px;
	line-height: 46px;
}
.fa-angle-right {
	font-size: 20px;
}
.fa-angle-left {
	color: #FDB92C;
	font-size: 30px;
}

.main-contents {
	width: 100%;
	background: #fff;
	position: absolute;
	top: 48px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}

.main-contents-right {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}

.fixedImg {
	position: fixed;
	bottom: 75px;
	right: 5%;
	width: 30px;
}

.begin {
	font-size: 14px !important;
}